{% extends "auctions/layout.html" %}

{% comment %} Show all listings that are in user's watchlist {% endcomment %}

{% block body %}

    <h2>Watchlist</h2>

    <div class="row ml-2">
        {% for listing in listings %}
            <div class="col-sm-3 mt-5">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{listing.image_url}}" alt="{{ listing.title }}">
                    <hr>
                    <div class="card-body">
                        <h5 class="card-title">{{ listing.title }}</h5>
                        <p class="card-text">{{ listing.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Price: {{ listing.initial_bid }}</li>
                        <li class="list-group-item">Category: {{ listing.category }}</li>
                        <li class="list-group-item">Created: {{ listing.created }}</li>
                    </ul>
                    <div class="card-footer">
                        <a href="{% url 'list' listing.id %}" class = "stretched-link">See Details</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <li>No Active Listings.</li>
        {% endfor %}
    </div>

{% endblock %}